body
{
    font-family: 'Thasadith', sans-serif;
    margin: 0 auto;
    color: #fff;
    
}

body #main-page
{
    background-image: url(../img/architecture.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 600px;
}

/* Navigation list */
body #main-page #main-nav #navigation-list
{
    text-align: center;
    margin: 0 auto;
}
body #main-page #main-nav #navigation-list li
{  
    width:80px;
    list-style: none;
    display: inline-block;
    padding: 20px 10px 5px 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    text-decoration: none;
}
body #main-page #main-nav #navigation-list li a
{
    text-decoration: none;
    cursor: default;
    color: #fff;
}
body #main-page #main-nav #navigation-list li a::after
{
    content: '';
    display: block;
    width:0;
    border-bottom: 2px #a58d0f solid;
    transition: 0.3s ease;
}

body #main-page #main-nav #navigation-list li a:hover::after
{
    width:100%;
}

/* Main header style */

body #main-page #main-header
{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

body #main-page #main-header #header-text
{
    font-size: 50px;
}

body #main-page #main-header #header-text #main-header-span
{
    color: #a58d0f;
}

/* lear more button */
body #main-page #learn-more
{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
}

body #main-page #learn-more a
{
    margin: 0 auto;
    text-decoration: none;
    color: #fff;
    cursor: default;
}
body #main-page #learn-more a::after
{
    content: '';
    display: block;
    position: relative;
    right: 50%;
    height: 40px;
    border-right: 2px solid #a58d0f;
    transition: 0.5s all;
}



